@import "2-components/lumen/bootswatch";
@import "1-variables/fonts";
@import "1-variables/color";

html,
body {
  //background: url(../../images/intro_bg.png);
  //background: url(../../images/bg-obj.webp) no-repeat left bottom/contain fixed, url(../../images/intro_bg.png);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: $head-font;
  font-weight: 700;
}

h2 {
  &.title {
    font-size: 2.5em;
    margin: 10px auto 20px;

    &::after {
      content: '';
      display: block;
      margin: 10px auto 20px;
      width: 4.8em;
      height: 0.15em;
      background: #dc3560;
    }
  }
}


.btn-readmore {
  border-color: #abc9b1;
  background-color: #abc9b1;
  border-radius: 24px !important;
  padding: 5px 15px;
  color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #116494;
}

[class*=" feather-"],
[class^=feather-] {
  color: $tone-primary;
  font-weight: 700 !important;
}

.button-kpi {
  a {
    display: block;
    transition: all 0.2s ease, visibility 0s;
    position: relative;

    &:hover {
      transition: all 0.3s ease-in-out;

      img {
        transform: scale(1.2, 1.2);
        transition-duration: 1s;
        transition-delay: .1s;
        position: relative;
        z-index: 1;
      }
    }
  }
}

.diff {
  padding-top: 3rem;
  padding-bottom: 3rem;

  &.diff-box4 {
    h3, h4 {
      a {
        color: #333;
        text-decoration: none;

        &:hover {
          color: #333a;
        }
      }
    }

    .box-large,
    .box-small {
      div[class*=-iframe] {
        position: relative;

        &::before {
          font-family: "Font Awesome\ 5 Brands";
          font-weight: 900;
          content: "\f167";
          font-size: 110px;
          position: absolute;
          transform: none;
          color: #ff0000;
          background: transparent;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          line-height: 5.3;
          text-align: center;
          vertical-align: middle;

          @media screen and (max-width: 640px) {
            font-size: 66px;
            line-height: 2.8;
          }
        }
      }
    }

    .box-large {
      .youtube-iframe {
        &::before {
          content: "" !important;
        }

        iframe {
          max-width: 100%;
          width: 100% !important;
          height: 585px;

          @media screen and (max-width: 640px) {
            height: auto;
          }
        }
      }

      .facebook-iframe {
        background: black;
        display: table-cell;
        width: 856px;
        height: 585px;
        vertical-align: middle;
        text-align: center;

        @media screen and (max-width: 640px) {
          height: auto;
        }

        iframe {
          width: 100% !important;
          height: 481px;

          @media screen and (max-width: 640px) {
            height: auto;
          }
        }
      }
    }

    .box-small {
      div[class*=-iframe] {
        position: relative;

        &::before {
          font-family: "Font Awesome\ 5 Brands";
          font-weight: 900;
          content: "\f167";
          font-size: 65px;
          position: absolute;
          transform: none;
          color: #ff0000;
          background: transparent;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          line-height: 4.24;
          text-align: center;
          vertical-align: middle;
        }
      }

      .youtube-iframe iframe,
      .facebook-iframe iframe {
        max-width: 100%;
        height: auto;
      }

      .youtube-iframe {
        &::before {
          content: " " !important;
        }

        @media screen and (max-width: 640px) {
          height: auto;
        }

        iframe {
          width: 100% !important;
          height: 281px;

          @media screen and (max-width: 640px) {
            height: auto !important;
          }
        }
      }

      .facebook-iframe {
        background: black;
        display: table-cell;
        width: 420px;
        height: 281px;
        vertical-align: middle;
        text-align: center;

        &::before {
          line-height: 2.8 !important;
        }

        @media screen and (max-width: 640px) {
          height: auto;
        }

        iframe {
          width: 100% !important;
          height: 234px;

          @media screen and (max-width: 640px) {
            height: auto;
          }
        }
      }
    }
  }

  &.diff-box5 {
    position: relative;
    border-bottom: 1px solid #4CAF50;
    background: url(../../images/footer-bg.png) no-repeat top center;
    background-size: cover;

    @media screen and (max-width: 640px) {
      padding-bottom: inherit;
    }

    h3 {
      color: white;
    }

    .social-link {
      a {
        display: inline-flex;
        transition: all 0.3s ease 0s;
        text-decoration: none;

        i {
          display: block;
        }
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0;
        margin: 0;
        position: relative;

        &::before {
          content: '>';
          margin-right: 5px;
        }

        a {
          color: white;
          text-decoration: none;

          &:hover {
            color: #ffffffbd;
          }
        }
      }
    }
  }
}

@import "3-sections/navbar";
@import "3-sections/news-publish";
@import "3-sections/intro";
@import "3-sections/init";
@import "3-sections/mis";
@import "3-sections/book";
@import "3-sections/assessment";
@import "3-sections/outerlink";
@import "3-sections/page-contents";
@import "3-sections/footer";

@import "2-components/gallery-box";
@import "2-components/box-video";
@import "2-components/news";
@import "2-components/box-personal";
@import "2-components/outerlinks";
@import "2-components/box-book";
@import "2-components/floating-button";
@import "2-components/breadcrumb";
@import "2-components/iconfonts";
@import "2-components/cookie-consent";
@import "2-components/customer-histats";
@import "2-components/visited_site";
