.executive-profile {
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 10px;
}

.executive-profile:hover {
    transform: translateY(-5px);
}

.executive-profile img {
    border: none; 
    box-shadow: none !important;
    transition: all 0.3s ease;
    border-radius: 0; 
    width: auto; 
    max-height: 100%;
}

@media (max-width: 768px) {
    .executive-profile {
        margin-bottom: 20px;
    }
    
    .executive-profile img {
        max-height: 100%;
    }
}