fieldset {
  margin-top: 1em;
  padding: 20px;
  padding-bottom: 10px;
  border: solid 1px #e3e3e3;
  border-radius: 4px;

  legend {
    font-size: 14px;
    font-weight: bold;
    color: rgba($tone-primary, 0.5);
  }
}
