.product-box {
  .card-title {
    overflow: hidden;
    height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  .card-text {
    height: 35px;
  }

  .text-price {
    line-height: 1;

    del {
      font-size: small;
      color: lightgrey;
    }
  }
}
