.visited-container {
  width: 244px;
  margin: 0 auto;
  background: url(../../images/bg-block-count.jpg) repeat-x top center;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.visited-container center {
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 15px;
}

.visited-container center h4 {
  color: #106a37;
  margin: 0;
}

.visited-container .number {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 17px;
}

.visited-container .number .num-image {
  display: inline-block;
  font-family: Arial, sans-serif;
  margin: 0 1px;
  width: 30px;
  height: 30px;
  line-height: 22px;
  border-radius: 50%;
  border: 2px solid #2b9d00;
  color: #fff;
  background: #4da90f;
  // background: url(../../images/bg-block-right-head.jpg) repeat-x top center;
}
