.xdsoft_datetimepicker {
  .xdsoft_calendar td.xdsoft_default,
  .xdsoft_calendar td.xdsoft_current,
  .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
    background: #42b187;
    box-shadow: #42b187 0 1px 3px 0 inset;
  }
}
