$tone-primary: #225a7f !default;
$tone-white: white !default;
$tone-brown: #555555 !default;
$tone-gray: #fcfcfc !default;
$line-height: 1.2;

$color-page-header: #c6eeca;

$background-hightlight_1: linear-gradient(0deg, #225a7f 0, #2d79ac 46%, #225a7f 100%);
$background-hightlight_2: linear-gradient(0deg, #eeeeee 0, #f1f6f91a 46%, #f2f2f21f 100%);


.text-highlight {
  color: #e4d913;
}