// config font: import fonts in Grunt.js

$body-font: "Kanit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
$head-font: "Kanit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;

$extra-font-1: $head-font;

:root {
  --bs-body-font-family: #{$body-font};
  // --bs-body-font-size: 0.875rem;
  --bs-body-font-weight: 300;
  --bs-body-color: #333
}