#intro {
  h2 {
    font-weight: 700;
  }

  .shd-1 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 8px;
  }

  .backdrop-fixed {
    position: relative;

    &::before {
      z-index: 1;
      content: '';
      position: absolute;
      height: calc(100% - 6px);
      width: 60px;
      background: #fffc;
      left: -115px;
      transform: skew(45deg);
      top: 2px;
      opacity: 0
    }

    &:hover {
      opacity: 1;

      &::before {
        transition: all 2s ease !important;
        left: 100%;
        opacity: 0
      }
    }

    &:after {
      position: absolute;
      background-color: transparent;
      content: " ";
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }

}
