.lasted-news {
  .card {
    .card-body {
      .card-title {
        overflow: hidden;
        text-decoration: none;
        padding: 0 5px;
        width: 100%;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        height: 24px !important;
        color: #333;


        &.focus-title {
          line-height: 25px;
          height: 54px !important;
          -webkit-line-clamp: 2 !important;
          -webkit-box-orient: vertical !important;
        }
      }

      .card-detail {
        overflow: hidden;
        height: 50px;
        text-decoration: none;
        padding: 0 5px;
        width: 100%;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #d8d3d3;

        &.focus-detail {
          height: 64px !important;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }

      .card-text {
        &:last-child {
          font-size: smaller;
        }
      }
    }
  }
}

.card-news {
  .card-body {
    .card-title {
      overflow: hidden;
      text-decoration: none;
      padding: 0 5px;
      width: 100%;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      height: 24px !important;
      color: #333;
    }

    .card-detail {
      overflow: hidden;
      height: 50px;
      text-decoration: none;
      padding: 0 5px;
      width: 100%;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: #d8d3d3;
    }

    .card-text {
      &:last-child {
        font-size: smaller;
      }
    }
  }
}

#news-publish {
  background: url("../../../assets/images/news-publish-bg.png") no-repeat bottom center;
  background-size: cover;


}
